<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-left header">People</legend>
                        <hr>
             
                        <input name="nuevo" type="checkbox"  [(ngModel)]="peoplesService.people.nuevo" hidden>
             
                       <div class="form-group">
                          <div class="row">
                             <label class="col-md-1">Name</label>
                             <input id="fname" name="name" type="text"  [(ngModel)]="peoplesService.people.name" class="form-control col-md-6">
                        </div>
                       </div>

                        <div class="form-group">
                            <div class="row">
                              <label class="col-md-1">Biografía</label>
                             <input id="lname" name="biography" type="text"  [(ngModel)]="peoplesService.people.biography" class="form-control col-md-6">
                        </div>
                        </div>

                        <div class="form-group">
                           <div class="row">
                             <label class="col-md-1">Héroe</label>
                              <input id="text" name="heroe" type="text"  [(ngModel)]="peoplesService.people.heroe" class="form-control col-md-6">
                           </div>
                        </div>

                        <div class="form-group">
                            <button (click)="sendPeople(people)" class="btn btn-success">Enviar Datos</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>